<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <vegas-scoring></vegas-scoring>
    </ion-content>
  </ion-menu>
  <ion-content id="main-content">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="resetGame()">Reset</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <vegas-city></vegas-city>
  </ion-content>
</ion-split-pane>
