<ng-container *ngIf="limoAddress$ | async as limo">
  <ng-container *ngIf="lots$ | async as lots">
    <div class="grid">
      <!-- lots -->
      <div *ngFor="let lot of lots" class="lot" [ngStyle]="placeLotOnGrid(lot)">
        <vegas-property
          *ngIf="lot.property as property"
          [property]="property"
          [address]="lot.address"
        ></vegas-property>
        <!-- roads -->
        <div
          *ngIf="lot.roads.avenue"
          class="avenue"
          [class.driveable]="lot.roads.avenue.driveable"
          [class.visited]="lot.roads.avenue.visited"
          [class.current-drive]="lot.roads.avenue.onCurrentDrive"
          (click)="onDriveRoad(lot.roads.avenue)"
        ></div>
        <div
          *ngIf="lot.roads.street"
          class="street"
          [class.driveable]="lot.roads.street.driveable"
          [class.visited]="lot.roads.street.visited"
          [class.current-drive]="lot.roads.street.onCurrentDrive"
          (click)="onDriveRoad(lot.roads.street)"
        ></div>
        <!-- intersection -->
        <div
          class="intersection"
          *ngIf="lot.intersection"
          [intersection]="equals(limo, lot.intersection?.address)"
          [class.intersection]="true"
          [class.has-limo]="equals(limo, lot.intersection.address)"
        >
          <div class="stop-light" *ngIf="lot.intersection?.hasTaxiStand">
            <div
              *ngIf="equals(limo, lot.intersection.address)"
              #limoPosition
              class="has-limo"
            ></div>
          </div>
        </div>
      </div>
      <!-- hotel -->
      <div
        *ngFor="let hotel of hotel$ | async"
        [style.gridColumn]="hotel.avenue"
        class="hotel-lot"
      >
        <div class="hotel">
          <ng-container *ngIf="!hotel.opened; else hotelOpen">
            {{ hotel.available }}
            <button
              *ngIf="hotel.available === HotelSize.Full"
              (click)="onHotelUnavailable(hotel.avenue)"
            >
              Hotel Taken
            </button>
          </ng-container>
          <ng-template #hotelOpen>
            OPEN
            {{ hotel.opened }}</ng-template
          >
        </div>
        <div class="avenue"></div>
      </div>
    </div>
  </ng-container>

  <div
    class="limo"
    #limo
    (click)="limoClick()"
    [class.driving]="isDrivingLimo$ | async"
    [class.loading]="!(limoPosition$ | async)"
    [style.left]="(limoPosition$ | async)?.x + 'px'"
    [style.top]="(limoPosition$ | async)?.y + 'px'"
  >
    <ion-icon name="car-sport"></ion-icon>
  </div>
</ng-container>
