<div
  *ngIf="property.golfDefinition as par"
  [class.golf]="true"
  [class]="
    property.hasGolf === null ? '' : property.hasGolf ? 'linked' : 'broken'
  "
  fxFlex="initial"
>
  Par {{ par }}
</div>
<div class="building" fxFlex fxLayout="column" fxLayoutAlign="center center">
  <div class="show" *ngIf="property.canHaveShow">
    <ng-container *ngIf="property.hasShow; else offerShow"
      >🌟</ng-container
    >
    <ng-template #offerShow>
      <ng-container *ngIf="!isOfferingShowTrack; else showTrackSelect">
        <button
        [disabled]="property.casinoNumber === null"
        (click)="isOfferingShowTrack=true"
      >
        ☆
      </button>
      </ng-container>
    </ng-template>
  </div>
  <div class="building-center">
    <ng-container *ngIf="property.isConstructed; else offerBuild"
      ><input
        type="text"
        class="casino-number"
        [disabled]="!!property.casinoNumber"
        [value]="property.casinoNumber"
        max="17"
        min="0"
        (change)="onCasinoNumberAssign($event)"
    /></ng-container>
    <ng-template #offerBuild>
      <button (click)="onPropertyBuild()">🛠</button>
    </ng-template>
  </div>
  <div class="red-carpet" *ngIf="property.redCarpet">
    {{ property.redCarpet }}
  </div>
</div>

<ng-template #showTrackSelect>
  <button (click)="onOpenShow('LEFT')">Left</button>
  <button (click)="onOpenShow('RIGHT')">Right</button>
</ng-template>
