:host {
  display: block;
  flex-direction: column;
}

.improvement-track {
  padding: 0.2rem;
  .improvement {
    &.marked {
      text-decoration: line-through;
      opacity: 0.4;
    }
  }

  .cash {
    box-sizing: border-box;
    border: 1px solid transparent;

    &.circled {
      border: 1px solid red;
      border-radius: 50%;
    }
  }
}
